@import "../utils/_variables";

form {
  margin: 20px auto;
  width: 100%;
  max-width: 550px;

  p {
    font-size: 12px;
    font-size: 0.75rem;
  }
}

input,
textarea {
  display: block;
  width: 100%;
  font-size: 12px;
  font-size: 0.75rem;
  outline: none;
  padding: 15px;
  color: $color-primary;
  border: 2px solid $color-secondary;
  margin-bottom: 20px;
}

textarea {
  resize: none;
}
