@import "../utils/_variables";
@import "../utils/_mixins";
@import "../utils/_functions";

form {
  margin: pxToRem(20) auto;
  max-width: pxToRem(550);

  p {
    font-size: pxToRem(12);
  }
}

input {
  @include display;
  @include border($color-secondary);
  font-size: pxToRem(12);
  padding: pxToRem(15);
  margin-bottom: pxToRem(20);
  color: $color-primary;
  outline: none;
}
textarea {
  @extend input;
  resize: none;
}
