@import "../utils/_variables";

form {
  @include margins(20px, auto);
  max-width: 550px;

  p {
    font-size: $p-size;
  }
}

input {
  @include display(block, 100%);
  @include border($color-secondary);
  font-size: $p-size;
  color: $color-primary;
  outline: none;
  padding: 15px;
  margin-bottom: 20px;
}
textarea {
  @extend input;
  resize: none;
}
