@import "../utils/_variables";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 20px;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Roboto";
  overflow-x: hidden;
  width: 100%;
  padding: 25px;
  line-height: 1.5;
  color: $color-primary;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

header {
  position: relative;
  background: url("https://image.ibb.co/jBXfxA/bg-contact.jpg") no-repeat center
    center/cover;
  color: $color-white;
  padding: 15% 0 0 0;
  min-height: 650px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  width: 100%;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.clearfix:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.text-center,
.social-wrap,
h2,
h3,
.nav-main {
  text-align: center;
}

.arrow {
  @include transition(all,0.5s,none);

  &:hover {
    @include transform(2.5,null);
  }
}

section {
  padding: 50px 0;
}
section .text-center p,
section h2 p,
section h3 p,
section .nav-main p {
  padding: 0 20px;
  max-width: 900px;
  margin: 0 auto;
}


#testimonials {
  padding: 5px 0;
}

.video {
  height: 500px;
  background: url("https://i.imgur.com/0IRYG66.jpg") no-repeat;
  background-size: cover;
  position: relative;
}

#contact {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    @include size(100%,100%);
    background: url("https://image.ibb.co/h9qYHA/bg-video.png") no-repeat center
      center;
    opacity: 0.1;
    z-index: -1;
  }
}

h2,
h3 {
  @extend %header;
  padding-bottom: 14px;
  margin-bottom: 30px;
}
h2:after,
h3:after {
  content: "";
  position: absolute;
  display: block;
  @include size(72px,3px);
  left: -webkit-calc(50% - 36px);
  left: calc(50% - 36px);
  bottom: 0px;
  background: $color-secondary;
}

h3 {
  text-transform: none;
}

.title-main,
h1 {
  line-height: 1.2;
  font-size: 30px;
}
.title-main span,
h1 span {
  display: block;
}
.title-main span:last-child,
h1 span:last-child {
  font-size: 23px;
}

.title-sub {
  font-size: 48px;
  position: relative;
  
  &:after {
    content: "";
    position: absolute;
    display: block;
    @include size(82px,3px);
    left: -webkit-calc(50% - 41px);
    left: calc(50% - 41px);
    bottom: -10px;
    background: $color-white;
  }
}

.title-blurb {
  padding: 40px 0;

  span {
    display: block;
    line-height: 25px;
  }
}

.menu {
  color: $color-primary;
  background: $color-white;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  line-height: 40px;
  padding: 10px;
  border-bottom: 2px solid rgba(104, 104, 104, 0.1);
}

h1 {
  font-size: 22px;
  display: inline-block;
}

footer .copy {
  margin-top: 20px;
}
