@import "../utils/_variables";
@import "../utils/_mixins";
@import "../utils/_functions";



* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div,
span,
applet,
object,
iframe,
p,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
canvas,
embed,
figure,
output,
ruby,
summary,
time,
mark,
audio {
  @include format-base;
}

body {
  @include format-base;
  color: $color-primary;
  font-family: "Roboto";
  overflow-x: hidden;
  width: $size-full;
  padding: convertPxToRem(25);
  line-height: 1.5;
}

blockquote {
  @include format-base;
  quotes: none;
  &:before {
    content: none;
  }
  &:after {
    @extend blockquote:before;
  }
}

q {
  @extend blockquote;
}

html {
  overflow-x: hidden;
  width: $size-full;
}

article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
nav,
section {
  display: block;
}

header {
  color: $color-white;
  position: relative;
  background: url("https://image.ibb.co/jBXfxA/bg-contact.jpg") no-repeat center
    center/cover;
  padding: 15% 0 0 0;
  min-height: convertPxToRem(650);
}

.container {
  @include margins(0, auto);
  width: $size-full;
  max-width: convertPxToRem(1200);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after {
  width: $size-full;
  content: $content-empty;
  display: block;
  clear: both;
}

.text-center,
.social-wrap,
h2,
h3,
.nav-main {
  text-align: center;
}

h2 {
  @include format-base;
  @include header;
  padding-bottom: convertPxToRem(14);
  margin-bottom: convertPxToRem(30);
  &:after {
    @include line-horizontal;
    @include size(72px, 3px);
    background: $color-secondary;
    display: block;    
    left: -webkit-calc(50% - 36px);
    left: calc(50% - 36px);
    bottom: 0;
  }
}

h3 {
  @extend h2;
  text-transform: none;
}

section {
  padding: 50px 0;
  .text-center p,
  h2 p,
  h3 p,
  .nav-main p {
    padding: 0 20px;
    max-width: 900px;
    margin: 0 auto;
  }
}

#testimonials {
  padding: 5px 0;
}

.video {
  height: 500px;
  background: url("https://i.imgur.com/0IRYG66.jpg") no-repeat;
  background-size: cover;
  position: relative;
}

#contact {
  position: relative;
  &:before {
    @include size($size-full, $size-full);
    @include corners(0, 0, 0, 0);
    @include line-horizontal;
    display: block;
    background: url("https://image.ibb.co/h9qYHA/bg-video.png") no-repeat center
      center;
    opacity: 0.1;
    z-index: -1;
  }
}

.title-main {
  line-height: 1.2;
  font-size: 30px;
  span {
    display: block;
    &:last-child {
      font-size: 23px;
    }
  }
}

h1 {
  @extend .title-main;
  font-size: 22px;
  display: inline-block;
}

.title-sub {
  font-size: 48px;
  position: relative;

  &:after {
    @include size(82px, 3px);
    @include line-horizontal;
    display: block;
    left: -webkit-calc(50% - 41px);
    left: calc(50% - 41px);
    bottom: -10px;
    background: $color-white;
  }
}

.title-blurb {
  @include padding(40px, 0);
  span {
    display: block;
    line-height: 25px;
  }
}

.menu {
  @include corners(none, 0, 0, 0);
  @include display(block,$size-full);
  color: $color-primary;
  background: $color-white;
  position: absolute;
  line-height: 40px;
  padding: 10px;
  border-bottom: 2px solid rgba(104, 104, 104, 0.1);
}

footer .copy {
  margin-top: 20px;
}

.arrow {
  @include transition(all, 0.5s, none);

  &:hover {
    @include transform(2.5, null);
  }
}

