@import "../utils/_variables";
@import "../utils/_mixins";
@import "../utils/_functions";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div,
span,
applet,
object,
iframe,
p,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
li,
fieldset,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
canvas,
embed,
figure,
output,
ruby,
summary,
time,
mark,
audio {
  @include format-base;
}

body {
  @include format-base;
  width: $full;
  color: $color-primary;
  padding: pxToRem(25);
  line-height: 1.5;
  font-family: "Roboto";
  overflow-x: hidden;
}

blockquote {
  @include format-base;
  quotes: none;
  &:before {
    content: none;
  }
  &:after {
    @extend blockquote:before;
  }
}

q {
  @extend blockquote;
}

html {
  width: $full;
  overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
nav,
section {
  display: block;
}

header {
  @include respond(medium) {
    min-height: 95vh;
    padding-top: 14em;
  }
  min-height: pxToRem(650);
  color: $color-white;
  padding: 15% 0 0 0;
  position: relative;
  background: url("https://image.ibb.co/jBXfxA/bg-contact.jpg") no-repeat center
    center/cover;
}

.container {
  margin: 0 auto;
  width: $full;
  max-width: pxToRem(1200);
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.clearfix:after {
  width: $full;
  content: $content-empty;
  display: block;
  clear: both;
}

.text-center,
.social-wrap,
h2,
h3,
.nav-main {
  text-align: center;
}

h2 {
  @include format-base;
  @include header;
  padding-bottom: pxToRem(14);
  margin-bottom: pxToRem(30);
  &:after {
    @include line-horizontal;
    @include sizePx(72, 3);
    background: $color-secondary;
    display: block;
    left: -webkit-calc(50% - 36px);
    left: calc(50% - 36px);
    bottom: 0;
  }
}

h3 {
  @extend h2;
  text-transform: none;
}

section {
  @include paddingPx(50, 0);
  .text-center p,
  h2 p,
  h3 p,
  .nav-main p {
    @include paddingPx(0, 20);
    max-width: pxToRem(900);
    margin: 0 auto;
  }
}

#testimonials {
  @include paddingPx(5, 0);
}

.video {
  height: pxToRem(500);
  background: url("https://i.imgur.com/0IRYG66.jpg") no-repeat;
  background-size: cover;
  position: relative;
}

#contact {
  position: relative;
  &:before {
    @include size;
    @include edge(0, 0);
    @include line-horizontal;
    opacity: 0.1;
    z-index: -1;
    display: block;
    background: url("https://image.ibb.co/h9qYHA/bg-video.png") no-repeat center
      center;
  }
}

.title-main {
  line-height: 1.2;
  font-size: pxToRem(30);
  span {
    display: block;
    &:last-child {
      font-size: pxToRem(23);
    }
  }
}

h1 {
  @extend .title-main;
  font-size: pxToRem(22);
  display: inline-block;
}

.title-sub {
  font-size: pxToRem(48);
  position: relative;

  &:after {
    @include sizePx(82, 3);
    @include line-horizontal;
    bottom: pxToRem(-10);
    background: $color-white;
    left: -webkit-calc(50% - 41px);
    left: calc(50% - 41px);
    display: block;
  }
}

.title-blurb {
  @include paddingPx(40, 0);
  span {
    display: block;
    line-height: pxToRem(25);
  }
}

.menu {
  @include edge(null, 0, 0);
  @include display(block, $full);
  padding: pxToRem(10);
  line-height: pxToRem(40);
  border-bottom: pxToRem(2) solid rgba(104, 104, 104, 0.1);
  color: $color-primary;
  background: $color-white;
  position: absolute;
}

footer .copy {
  margin-top: pxToRem(20);
}

.arrow {
  @include transition(all, 0.5s, none);

  &:hover {
    @include transform(2.5, null);
  }
}
