@import "../utils/_variables";
@import "../utils/_mixins";
@import "../utils/_functions";

.nav-main {
  @include respond(large) {
    @include display(block, 70%);
    float: right;
    ul {
      text-align: right;
    }
    li {
      margin-left: pxToRem(40);
      display: inline-block;
    }
    a {
      padding: 0;
      text-transform: uppercase;
    }
  }
  background: $color-white;
  display: none;
  clear: both;

  a {
    @include transition(none, 0.3s, none);
    @include display;
    color: $color-primary;
    position: relative;
    text-decoration: none;
    padding: 20 0 2;

    &::before {
      @include line-horizontal;
      @include edge(null, 0, 0);
      @include size($full, pxToRem(4));
      @include transform(0, 1);
      @include transform-origin(0, 50%);
      @include transition(null, 0.3s, null);
      background-color: $color-secondary;
    }

    &:hover {
      color: $color-secondary;
      font-weight: bold;

      &::before {
        @include transform(1, 1);
      }
    }
  }
}

.nav-toggle {
  @include respond(large) {
    display: none;
  }
  @include sizePx(40, 40);
  @include transition(null, 0.3s, null);
  cursor: $cursor-hand;
  display: inline-block;

  div {
    @include sizePx(40, 3);
    @include transition(all, 0.5s, null);
    margin-top: pxToRem(7);
    background-color: $color-primary;
    display: block;
  }
  &:hover {
    opacity: 0.7;
  }
}

ol,
ul {
  @include format-base;
  list-style: none;
}
