@import "../utils/_variables";
@import "../utils/_mixins";
@import "../utils/_functions";

.work-wrap {
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    @extend .work-wrap:before;
    clear: both;
  }
}

figure {
  @include display(inline-block);
  @include marginPx(10);
  cursor: $cursor-hand;
  position: relative;

  &:before {
    @include line-horizontal;
    @include size($full, $full);
    @include edge(0, 0);
    @include transition(all, 1s, ease-in-out);
    background-color: $color-black;
    opacity: 0;
  }
  &:hover:before {
    opacity: 0.7;
  }

  &:hover .caption-head:before {
    @include edge($size-corner, 0, 0, $size-corner);
  }
  &:hover .caption-head:after {
    @include edge($size-corner, $size-corner, 0, null);
  }
  &:hover .caption-blurb:before {
    @include edge(null, 0, $size-corner, $size-corner);
  }
  &:hover .caption-blurb:after {
    @include edge(null, $size-corner, $size-corner, null);
  }

  img {
    @include display;
  }

  figcaption {
    @include trans-centered;
    @include transition(all, 1s, ease-in-out);
    min-width: pxToRem(200);
    color: $color-white;
    line-height: 2;

    &:before {
      @include trans-centered;
      @include line-horizontal;
      @include size(80%, pxToRem(2));
      background-color: $color-white;
      top: -webkit-calc(50% + 2px);
      top: calc(50% + 2px);
    }

    .caption-head {
      @include header;

      &:before {
        @include border-caption(top, left);
      }
      &:after {
        @include border-caption(top, right);
      }
    }
    .caption-blurb {
      @include respond(small) {
        font-size: pxToRem(18);
      }
      position: relative;

      &:before {
        @include border-caption(bottom, left);
      }
      &:after {
        @include border-caption(bottom, right);
      }
    }
  }
}

.figure-sm {
  @include respond(medium) {
    width: 48%;
    display: block;
    float: left;
  }
}

.figure-sm.one {
  @include respond(medium) {
    margin-left: 4%;
  }
}

.work-column-lg {
  @include respond(large) {
    @include display(block, 61.5%);
    float: left;
  }
}

.work-column-sm {
  @include respond(large) {
    @include display(block, 35.5%);
    margin-left: 3%;
    float: left;
    img {
      height: auto;
    }
  }
}
