%border-bottom {
  border-bottom: $border-caption;
  bottom: 0;
}

%border-top {
  border-top: $border-caption;
  top: 0;
}

figure {
  position: $position-relative;
  display: $display-inline;
  margin: 10px 0;
  width: $width-full;
  cursor: $cursor-hand;

  &:before {
    content: $content-empty;
    position: $position-absolute;
    width: $width-full;
    height: $height-full;
    top: $value-zero;
    left: $value-zero;
    background-color: $color-black;
    opacity: $value-zero;
    @include trans-ease;
  }
  &:hover:before {
    opacity: 0.7;
  }

  &:hover .caption-head:before {
    left: $dist-move;
    top: $dist-move;
  }
  &:hover .caption-head:after {
    right: $dist-move;
    top: $dist-move;
  }
  &:hover .caption-blurb:before {
    left: $dist-move;
    bottom: $dist-move;
  }
  &:hover .caption-blurb:after {
    right: $dist-move;
    bottom: $dist-move;
  }

  img {
    width: $width-full;
    display: $display-block;
  }

  figcaption {
    @include trans-centered;
    @include trans-ease;
    color: $color-white;
    min-width: 200px;
    line-height: 2;

    &:before {
      @include trans-centered;
      content: $content-empty;
      position: $position-absolute;
      background-color: $color-white;
      width: 80%;
      height: 2px;
      top: -webkit-calc(50% + 2px);
      top: calc(50% + 2px);
    }

    .caption-head {
      @extend %header;

      &:before {
        @include caption;
        @extend %border-top;
        border-left: $border-caption;
        left: $value-zero;
      }
      &:after {
        @include caption;
        @extend %border-top;
        border-right: $border-caption;
        right: $value-zero;
      }
    }
    .caption-blurb {
      position: $position-relative;

      &:before {
        @include caption;
        @extend %border-bottom;
        border-left: $border-caption;
        left: $value-zero;
      }
      &:after {
        @include caption;
        @extend %border-bottom;
        border-right: $border-caption;
        right: $value-zero;
      }
    }
  }
}

.work-wrap:before {
  content: " ";
  display: table;
}

.work-wrap:after {
  @extend .work-wrap:before;
  clear: both;
}
