@import "../utils/_variables";
@import "../utils/_mixins";
@import "../utils/_functions";

button {
  @include transition(opacity, 0.5s, null);
  @include paddingPx(10, 30);
  font-size: pxToRem(12);
  background-color: $color-secondary;
  color: $color-white;
  cursor: $cursor-hand;
  border: none;
  text-transform: uppercase;

  &:hover {
    opacity: 0.6;
  }

  &-send {
    margin-top: pxToRem(10);
  }
}
