@import "./_variables";

@mixin trans-centered {
  position: $position-absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin trans-ease {
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

@mixin caption {
  content: $content-empty;
  position: $position-absolute;
  height: 20px;
  width: 20px;
  @include trans-ease;
}