@import "./_variables";
@import "../utils/_functions";

@mixin format-base {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: convertPxToRem(20);
  font: inherit;
  vertical-align: baseline;
}

@mixin border($color:none) {
  border: 2px solid $color;
}

@mixin border-caption($vertical:none, $horizontal:none) {
  @include caption;
  border-#{$vertical}: convertPxToRem(2) solid #fff;
  border-#{$horizontal}: convertPxToRem(2) solid #fff;
  #{$vertical}: 0;
  #{$horizontal}: 0;
}

@mixin caption {
  @include size(20px,20px);
  @include transition(all, 1s, ease-in-out);
  content: $content-empty;
  position: absolute;
}

@mixin edges($top, $right, $bottom, $left) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin display($display:block, $width:$size-full) {
  display: $display;
  width: $width;
}

@mixin header {
  position: relative;
  text-transform: uppercase;
  font-size: convertPxToRem(22);
}

@mixin line-horizontal {
  position: absolute;
  content: $content-empty;
}

@mixin margins($top-bot, $right-left) {
  margin: $top-bot $right-left;
}

@mixin padding($top-bot, $right-left) {
  padding: $top-bot $right-left;
}

@mixin size($width:$size-full, $height:$size-full) {
  width: $width;
  height: $height;
}

@mixin trans-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin transform($sx, $sy) {
  -webkit-transform: scale($sx, $sy);
  -ms-transform: scale($sx, $sy);
  -o-transform: scale($sx, $sy);
  transform: scale($sx, $sy);
}

@mixin transform-origin($x, $y) {
  -webkit-transform-origin: $x $y;
  -ms-transform-origin: $x $y;
  -o-transform-origin: $x $y;
  transform-origin: $x $y;
}

@mixin transition($elem, $time, $func) {
  -webkit-transition: $elem $time $func;
  -o-transition: $elem $time $func;
  transition: $elem $time $func;
}
