$border-caption: 2px solid #fff;
$color-primary: #686868;
$color-secondary: #d07c7c;
$color-white: #fff;
$color-black: #000;
$content-empty: "";
$cursor-hand: pointer;
$full: 100%;
$size-corner: pxToRem(-20);

