@import "./utils/_variables";
@import "./utils/_buttons";
@import "./utils/_mixins";
@import "./utils/_functions";
@import "./base/_forms";
@import "./base/_layout";
@import "./base/_navigation";
@import "./base/_typography";
@import "./base/_works";


/* MEDIA */

$breakpoint-small: 500px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;


@media (min-width: $breakpoint-small) {
  .caption-blurb {
    font-size: 18px;
  }
}

@media (min-width: $breakpoint-medium) {
  header {
    min-height: 95vh;
    padding-top: 14em;
  }
  .figure-sm {
    width: 48%;
    display: block;
    float: left;
    &.one {
      margin-left: 4%;
    }
  }
}

@media (min-width: $breakpoint-large) {
  .nav-toggle {
    display: none;
  }
  .nav-main {
    display: block;
    float: right;
    width: 70%;
    ul {
      text-align: right;
    }
    li {
      display: inline-block;
      margin-left: 40px;
    }
    a {
      text-transform: uppercase;
      padding: 0;
    }
  }
  .work-column-lg {
    display: block;
    width: 61.5%;
    float: left;
  }
  .work-column-sm {
    display: block;
    width: 35.5%;
    float: left;
    margin-left: 3%;
    img {
      height: auto;
    }
  }
  form {
    padding-bottom: 40px;
    p {
      display: inline-block;
      float: left;
    }
    .button-send {
      float: right;
      margin-top: 0;
    }
  }
  .text-center form p,
  h2 form p,
  h3 form p,
  .nav-main form p {
    margin-top: 10px;
  }
}


